In [13]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

import display, warnings, random

random.seed(666)
%matplotlib inline

ModuleNotFoundError: No module named 'display'

In [8]:
path = os.getcwd()
in_path = path + "\\input\\"

# Check the files available in input directory by running this code

for dirname, _, filenames in os.walk(in_path):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\Admin\Desktop\Soil Parameters Analysis\input\Gradient_Effect.xlsx
C:\Users\Admin\Desktop\Soil Parameters Analysis\input\Jhum_Effect.xlsx

In [10]:
jhum = pd.read_excel(in_path+"Jhum_Effect.xlsx")

In [11]:
jhum.head()

,Rainfall (mm),"Soil loss, kg/ha",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,"Water loss, cu.m/ha",Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,"P loss, kg/ha",Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,"K loss, kg/ha",Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,Fresh Jhum,3 years,10 years,20 years,NaN,Fresh Jhum,3 years,10 years,20 years,...,NaN,Fresh Jhum,3 years,10 years,20 years,NaN,Fresh Jhum,3 years,10 years,20 years
1,7.8,8.246528,6.25,5.208333,4.340278,NaN,3.923477,3.923477,3.563086,3.71013,...,NaN,0.000024,0.000017,0.000016,0.000012,NaN,0.001359,0.001073,0.000907,0.000748
2,10.6,34.722222,26.041667,17.361111,8.680556,NaN,5.19043,5.19043,4.893529,5.112643,...,NaN,0.000102,0.000072,0.000054,0.000024,NaN,0.005723,0.004471,0.003022,0.001495
3,27.6,21.201806,19.300955,17.729096,16.595897,NaN,5.611168,5.362595,4.971458,4.5328,...,NaN,0.000062,0.000053,0.000055,0.000045,NaN,0.003494,0.003314,0.003086,0.002859
4,18.9,12.574864,11.697548,11.624439,9.723587,NaN,2.430897,2.467452,2.708714,2.924387,...,NaN,0.000037,0.000032,0.000036,0.000027,NaN,0.002073,0.002008,0.002024,0.001675

In [12]:
jhum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rainfall (mm)        33 non-null     float64
 1   Soil loss, kg/ha     34 non-null     object
 2   Unnamed: 2           34 non-null     object
 3   Unnamed: 3           34 non-null     object
 4   Unnamed: 4           34 non-null     object
 5   Unnamed: 5           0 non-null      float64
 6   Water loss, cu.m/ha  34 non-null     object
 7   Unnamed: 7           34 non-null     object
 8   Unnamed: 8           34 non-null     object
 9   Unnamed: 9           34 non-null     object
 10  Unnamed: 10          0 non-null      float64
 11  N loss, kg/ha        34 non-null     object
 12  Unnamed: 12          34 non-null     object
 13  Unnamed: 13          34 non-null     object
 14  Unnamed: 14          34 non-null     object
 15  Unnamed: 15          0 non-null      float64
 16  SOC loss, kg/ha      34 non-null     object
 17  Unnamed: 17          34 non-null     object
 18  Unnamed: 18          34 non-null     object
 19  Unnamed: 19          34 non-null     object
 20  Unnamed: 20          0 non-null      float64
 21  P loss, kg/ha        34 non-null     object
 22  Unnamed: 22          34 non-null     object
 23  Unnamed: 23          34 non-null     object
 24  Unnamed: 24          34 non-null     object
 25  Unnamed: 25          0 non-null      float64
 26  K loss, kg/ha        34 non-null     object
 27  Unnamed: 27          34 non-null     object
 28  Unnamed: 28          34 non-null     object
 29  Unnamed: 29          34 non-null     object
dtypes: float64(6), object(24)
memory usage: 8.1+ KB